[submodule "lib/tomorrow-theme"]
	path = lib/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
